fastapi~=0.70.0
pydantic~=1.8.2
SQLAlchemy~=1.4.26
psycopg2_binary==2.9.1
uvicorn==0.15.0
Werkzeug==2.0.2
PyYAML==6.0
gunicorn
requests==2.26.0
exponent-server-sdk==2.0.0
pytest==6.2.5
pytest-cov==3.0.0
